.clients-container {
  h1 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
  }
  .row {
    .client-image {
      text-align: center;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 320px) {
  .clients-container {
    .row {
      display: flex;
      &:after {
        content: "";
        clear: both;
      }
      .client-image {
        width: 40%;
        max-width: 120px;
        margin: 0 auto;
      }
    }
  }
}

@media (min-width: 768px) {
  .clients-container {
    .row {
      .client-image {
        max-width: 200px;
      }
    }
  }
}
