.carrousel {
  margin-top: -30px;
  [name~="carrousel"] {
    display: none;
    &:checked {
      + .slide {
        pointer-events: auto;
        opacity: 1;
        .slide-content {
          opacity: 1;
        }
      }
    }
  }
  .slide {
    width: 100%;
    height: auto;
    pointer-events: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    .slide-content {
      opacity: 0;
      transition: opacity 1s;
      img {
        width: 100%;
        z-index: -9;
      }
      .slide-display {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        h1 {
          color: #fff;
          margin-top: 20px;
          text-align: center;
          font-weight: bold;
          font-size: 18px;
          z-index: -1;
          &.r {
            text-align: right;
            margin-right: 25px;
          }
          &.alt {
            color: #000;
          }
        }
        .slide-description {
          color: #fff;
          font-size: 18px;
          font-weight: bold;
          background-color: #000;
          padding: 15px;
          width: 90%;
          min-height: 256px;
          margin: 30px auto 0;
          span {
            display: block;
            &:not(:last-child) {
              margin-bottom: 30px;
            }
            &.a-right {
              text-align: right;
            }
            &.to-bottom {
              text-align: center;
              margin-top: 174px;
            }
            small {
              font-weight: 300;
              font-size: 16px;
              display: block;
              &.fw-bold {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
  .buttonContainer {
    text-align: center;
    margin-top: 20px;
  }
  .controls {
    position: absolute;
    display: -webkit-box;
    margin-top: 20px;
    left: calc(50% - 20px);
    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #000;
      margin-right: 10px;
      &::after {
        content: " ";
      }
      &.active {
        background-color: #000;
      }
      label {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
}

@media (min-width: 320px) {
  .carrousel {
    .buttonContainer {
      margin-top: 200px;
    }
  }
}

@media (min-width: 360px) {
  .carrousel {
    .buttonContainer {
      margin-top: 180px;
    }
  }
}

@media (min-width: 375px) {
  .carrousel {
    .buttonContainer {
      margin-top: 140px;
    }
  }
}

@media (min-width: 425px) {
  .carrousel {
    .buttonContainer {
      margin-top: 110px;
    }
  }
}

@media (min-width: 460px) {
  .carrousel {
    .buttonContainer {
      margin-top: 90px;
    }
  }
}

@media (min-width: 480px) {
  .carrousel {
    .buttonContainer {
      margin-top: 80px;
    }
  }
}

@media (min-width: 500px) {
  .carrousel {
    .buttonContainer {
      margin-top: 60px;
    }
  }
}

@media (min-width: 515px) {
    .carrousel {
      .buttonContainer {
        margin-top: 50px;
      }
    }
  }

@media (min-width: 545px) {
  .carrousel {
    .buttonContainer {
      margin-top: 20px;
    }
  }
}
