.navbar {
  background-color: #000;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 9;
  position: fixed;
  width: 100%;
  top: 0;
  .brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    img {
      height: 20px;
      width: auto;
    }
  }
  nav {
    ul {
      list-style: none;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      li {
        padding: 5px;
        margin-left: 10px;
        a {
          margin-left: 20px;
        }
      }
    }
  }
  .hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    div {
      width: 35px;
      height: 3px;
      background-color: #c54802;
      margin: 6px 0;
      transition: 0.4s;
      &:first-child {
        margin: 0;
      }
    }
    &.open {
      .bar1 {
        -webkit-transform: rotate(-45deg) translate(-6px, 6px);
        transform: rotate(-45deg) translate(-6px, 6px);
      }
      .bar2 {
        opacity: 0;
      }
      .bar3 {
        -webkit-transform: rotate(45deg) translate(-6px, -8px);
        transform: rotate(45deg) translate(-6px, -8px);
      }
      .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }
    }
    .mobile-menu {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      height: calc(100vh - 50px);
      width: 100%;
      transition: 0.4s;
      li {
        margin-bottom: 10px;
        margin-top: 10px;
        background-color: #c54802;
        width: 100%;
        padding: 18px;
        display: grid;
        height: fit-content;
        a {
          margin: 7px 0;
        }
      }
    }
  }
  a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    nav {
      display: none;
    }
    .hamburger-icon {
      display: block;
    }
  }
}

@media (min-width: 1024px) {
  .navbar {
    margin: 0 -10%;
    width: 100%;
  }
}
